<h1>Coach_Answer</h1>

<blockquote>
  <p><%= @question %></p>
  <p> --You </p>
</blockquote>
<blockquote style="background-color: lightyellow">
  <div>
    <p><%= @answer %></p>
    <p> --Your Coach </p>
  </div>
</blockquote>
